<% include ../common/header.ejs %>
<div class="container pet-full">
    <div class="pet-full row">
        <h1 class="text-center"><%= pet.pet.name %></h1>
        <div class="col-md-5">
            <img class="img-thumbnail" src="<%= pet.pet.img %>">
        </div>
        <div class="col-md-offset-1 col-md-6">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <h3>Pet info</h3>
                        <div class="row">
                            <label class="col-md-2 control-label" for="species">Species</label>
                            <span class="col-md-4" id="species"><%= pet.pet.species %></span>
                        </div>
                        <div class="row">
                            <label class="col-md-2 control-label" for="gender">Gender</label>
                            <span class="col-md-4" id="gender"><%= pet.pet.sex %></span>
                        </div>
                        <div class="row">
                            <label class="col-md-2 control-label" for="location">Location </label>
                            <span class="col-md-10" id="location"><%= pet.pet.location %></span>
                        </div>
                        <div class="row">
                            <label class="col-md-2 control-label" for="status">Status</label>
                            <span class="col-md-4" id="status"><%= pet.system.status %></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <h3>Author info</h3>
                        <div class="row">
                            <label class="col-md-2 control-label" for="name">Name</label>
                            <a href="/user/<%=author._id%>/pets/" class="col-md-4" id="name"><%= author.name %></a>
                        </div>
                        <div class="row">
                            <label class="col-md-2 control-label" for="email">Email</label>
                            <span class="col-md-4" id="email"><%= author.email %></span>
                        </div>
                        <% if(author.phone) { %>
                        <div class="row">
                            <label class="col-md-2 control-label" for="phone">Phone</label>
                            <span class="col-md-4" id="phone"><%= author.phone %></span>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row text-center">
                <div class="col-md-10">
                    <img alt="Google Maps (Scotland)" src="<%=map%>">
                </div>
            </div>
        </div>
    </div>
    <% if (isAuthor){%>
        <a class="pull-right btn btn-warning btn-edit btn-dark" href="edit/">Редагувати</a>
    <%}%>
    <div id="disqus_thread"></div>
    <script>
        /*
         var disqus_config = function () {
         this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };
         */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//pethousedsq.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

<% include ../common/footer.ejs %>