<% include ../common/header.ejs %>

<%
var myProfile = false;
if (user && user._id.toString() === profile._id.toString()) myProfile = true;
%>

<div class="container">
    <a href="/"><< Home</a>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Profile Page</h1>
        <p><%= profile._id %></p>
        <% if (myProfile) { %>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/pets/create" class="btn btn-primary btn-sm">Create pet</a>
        <% } %>
        <a href="/user/<%= profile._id %>/pets" class="btn btn-success btn-sm"><% if (myProfile) { %>My pets<% } else { %>Author's pets<% } %></a>
    </div>

    <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the profile has this token (is the profile authenticated with this social account) -->
                <% if (profile.facebook.token) { %>
                <p>
                    <strong>id</strong>: <%= profile.facebook.id %><br>
                    <strong>token</strong>: <%= profile.facebook.token %><br>
                    <strong>email</strong>: <%= profile.facebook.email %><br>
                    <strong>name</strong>: <%= profile.facebook.name %><br>
                </p>

                <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Vk</h3>

                <!-- check if the profile has this token (is the profile authenticated with this social account) -->
                <% if (profile.vk.token) { %>
                <p>
                    <strong>id</strong>: <%= profile.vk.id %><br>
                    <strong>token</strong>: <%= profile.vk.token %><br>
                    <strong>name</strong>: <%= profile.vk.name %>
                </p>

                <a href="/unlink/vk" class="btn btn-info">Unlink</a>
                <% } else { %>
                <a href="/connect/vk" class="btn btn-info">Connect Vk</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the profile has this token (is the profile authenticated with this social account) -->
                <% if (profile.google.token) { %>
                <p>
                    <strong>id</strong>: <%= profile.google.id %><br>
                    <strong>token</strong>: <%= profile.google.token %><br>
                    <strong>email</strong>: <%= profile.google.email %><br>
                    <strong>name</strong>: <%= profile.google.name %>
                </p>

                <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

</div>

<% include ../common/footer.ejs %>