<% include ../common/header.ejs %>

<%
var myProfile = false;
if (user && user._id.toString() === profile._id.toString()) myProfile = true;
%>

<div class="container">
    <p><a href="/">На головну</a></p>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Мій профіль</h1>
        <hr>
        <h3 align="center">Додавайте акаунти з соц. мереж,<br>створюйте нові оголошення та переглядайте вже створені Вами записи.</h3>
        <!--<p><%= profile._id %></p>-->
        <% if (myProfile) { %>
            <a href="/logout" class="btn btn-default btn-sm">Вийти</a>
            <a href="/pets/create" class="btn btn-primary btn-sm">Додати оголошення</a>
        <% } %>
        <a href="/user/<%= profile._id %>/pets" class="btn btn-success btn-sm"><% if (myProfile) { %>Мої тваринки<% } else { %>Улюбленці користувача<% } %></a>
    </div>

   <img class="illustration-2" src="https://dl.dropboxusercontent.com/u/92390430/profile.png">
<ul class="ttt">
    <li>
        <!-- FACEBOOK INFORMATION -->
    <div class="panel panel-primary social">
            <div class="panel-heading"> <h3 class="text-primary f"><span class="fa fa-facebook"></span> Facebook</h3></div>
            <div class="panel-body">
                <!-- check if the profile has this token (is the profile authenticated with this social account) -->
                <% if (profile.facebook && profile.facebook.token) { %>
                <p>
                    <strong>id</strong>: <%= profile.facebook.id %><br>
                    <strong>token</strong>: <%= profile.facebook.token %><br>
                    <strong>email</strong>: <%= profile.facebook.email %><br>
                    <strong>name</strong>: <%= profile.facebook.name %><br>
                </p>

                <p>Вилучити дані про цей акаунт:<a href="/unlink/facebook" class="btn btn-primary">Disconnect</a></p>
                <% } else { %>
                <p>Додати акаунт Facebook: <a href="/connect/facebook" class="btn btn-primary">Connect</a></p>
                <% } %>
            </div>
</div>
</li>
<li>
        <!-- VK INFORMATION -->
    <div class="panel panel-info social">

        <div class="panel-heading"><h3 class="text-info"><span class="fa fa-twitter"></span> Vk</h3></div>
        <div class="panel-body">
                <!-- check if the profile has this token (is the profile authenticated with this social account) -->
                <% if (profile.vk && profile.vk.token) { %>
                <p>
                    <strong>id</strong>: <%= profile.vk.id %><br>
                    <strong>token</strong>: <%= profile.vk.token %><br>
                    <strong>email</strong>: <%= profile.vk.email %><br>
                    <strong>name</strong>: <%= profile.vk.name %>
                </p>

                <p>Вилучити дані про цей акаунт:<a href="/unlink/vk" class="btn btn-info">Disconnect</a>
                <% } else { %>
               <p>Додати акаунт Vk: <a href="/connect/vk" class="btn btn-info">Connect</a></p>
                <% } %>
            </div>
        </div>
</li>
    <li>

        <!-- GOOGLE INFORMATION -->
        <div class="panel panel-danger social">
            <div class="panel-heading">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>
            </div>
            <div class="panel-body">
                <!-- check if the profile has this token (is the profile authenticated with this social account) -->
                <% if (profile.google && profile.google.token) { %>
                <p>
                    <strong>id</strong>: <%= profile.google.id %><br>
                    <!--<strong>token</strong>: <%= profile.google.token %><br>-->
                    <strong>email</strong>: <%= profile.google.email %><br>
                    <strong>name</strong>: <%= profile.google.name %>
                </p>

               <p>Вилучити дані про цей акаунт: <a href="/unlink/google" class="btn btn-danger">Disconnect</a></p>
                <% } else { %>
               <p>Додати акаунт Google+:<a href="/connect/google" class="btn btn-danger">Connect</a></p>
                <% } %>
            </div>
        </div>
</li>
</ul>
</div>

<% include ../common/footer.ejs %>