<div class="col-md-4">
    <div class="thumbnail pet-short">
        <table>
            <caption class="text-center"><h3 class="text-center"><%= pet.pet.name %></h3><hr></caption>

            <tr>
                <td>
                    <ul>
                        <li>Вид: <%= pet.pet.species %></li>
                        <li>Стать: <%= pet.pet.sex %></li>
                        <li>Статус: <%= pet.system.status %></li>
                    </ul>
                <td>
                <th>
                    <a href="/pets/<%= pet._id %>/"><img class="image" src="<%= pet.pet.img %>"></a>
                </th>
            </tr>
            <tr class="text-center">

             <td><hr>       <a href="/pets/<%= pet._id %>/" class="btn btn-warning" role="button">Детальніше</a></td>
             <td><hr>  <a href="/user/<%= pet.system.author %>/pets/" class="btn btn-default" role="button">Автор</a></td>

            </tr>
        </table>
    </div>
</div>